{{>header}}
{{>navbar}}
<section class="my-5 container">
    <form method="post">
        <div class="mb-3">
            <input class="form-control" name="name" placeholder="name">
        </div>
        <div class="mb-3">
            <input class="form-control" name="writername" placeholder="writername">
        </div>
        <div class="mb-3">
            <input class="form-control" name="division" placeholder="division">
        </div>
        
        <div class="mb-3">
            <input class="form-control" name="pages" placeholder="pages">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add</button>
        </div>
    </form>
</section>
{{>footer}}